{% extends 'empresa/base.html.twig' %}

{% block title %}Carga de archivo (Empleados) - EasilyControl!{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/empresa/opciones/general.css') }}">
	<link rel="stylesheet" href="{{ asset('css/empresa/empleados/empleados_individual.css') }}">
	<link rel="stylesheet" href="{{ asset('css/Empresa/empleados/empleados_masivo.css') }}">
	<link rel="stylesheet" href="{{ asset('css/empresa/Menu/Menu.css') }}"> 
{% endblock %}

{% block body_sidebar %}
<section class="tabs-wrapper">
    <div class="tabs-container">
        <div class="tabs-block">
           <div class="tabs">
            <input type="radio" name="tabs" id="tab1" checked="checked" />
            <label for="tab1">Registro individual</label>
            <div class="tab tab-content">
                <div id="crear_empleado_local" data-contenido="{{ contenido|json_encode }}"></div>
            </div>

            <input type="radio" name="tabs" id="tab2" />
            <label for="tab2">Registro masivo</label>
            <div class="tab tab-content">
                <!-- Contenido removido -->
            </div>

            <input type="radio" name="tabs" id="tab3" />
            <label for="tab3">Historial</label>
            <div class="tab tab-content">
                <!-- Contenido removido -->
            </div>
        </div>
    </div>
</section>
{% endblock %}
