<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %} - EasilyControl!</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link rel="stylesheet" href="{{ asset('css/empresa/Menu/Menu.css') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
	 {% block css %}
	        {# Aqui va el contenido que se reemplazara en cada visrta, dejar vacio en base a no ser que solo sirva para el base. #}
	{% endblock %}
    </head>
    <body>
	{% if app.user %}
    <nav class="sidebar-menu flex-column">
            <ul class="menu-list ">
                <!-- Logo -->
                <li class=" logo  nav-item icono-menu" >

                        <img src="{{ asset('ico/empresa/Menu/ico_logo.png') }}" alt="" class="ico-logo">
                </li>

                <!-- Menú Principal -->
                 <div class="flex-grow-1 d-flex flex-column justify-content-center" style="margin-bottom:50px">
                 <li class=" traslado ico-menu" >
                    <a class="nav-link d-flex align-items-center" href="{{ path('app_empresa_inicio_mostrar') }}" style="width: 100px; height: 20px;">
                        <img src="{{ asset('ico/empresa/Menu/inicio.png') }}" alt="" class="icon">
                        <span class="ms-3">Home</span>
                    </a>
                </li>

                  <li class=" traslado ico-menu" >
                    <a class="nav-link d-flex align-items-center" href="{{ path('app_empresa_asistencia_mostrar') }}"style="width: 100px; height: 20px;">
                        <i > <img src="{{ asset('ico/empresa/Menu/asistencia.png') }}" alt="" class="icon"></i>
                        <span class="ms-3">Asistencia</span>
                    </a>
                </li>
                  <li class=" traslado ico-menu" >
                    <a class="nav-link d-flex align-items-center" href="{{ path('app_empresa_Permisos_mostrar') }}"style="width: 100px; height: 20px;">
                        <i > <img src="{{ asset('ico/empresa/Menu/permisos.png') }}" alt="" class="icon"></i>
                        <span class="ms-3">Permisos</span>
                    </a>
                </li>
                  <li class=" traslado ico-menu" >
                    <a class="nav-link d-flex align-items-center" href="{{ path('app_empresa_empleados_mostrar') }}"style="width: 100px; height: 20px;">
                        <i > <img src="{{ asset('ico/empresa/Menu/empleados.png') }}" alt="" class="icon"></i>
                        <span class="ms-3">Empleados</span>
                    </a>
                </li>
                 <li class=" traslado ico-menu" >
                    <a class="nav-link d-flex align-items-center" href="{{ path('app_empresa_vacaciones_mostrar') }}"style="width: 100px; height: 20px;">
                        <i > <img src="{{ asset('ico/empresa/Menu/vacaiones.png') }}" alt="" class="icon"></i>
                        <span class="ms-3">Vacaciones</span>
                    </a>
                </li>
                  <li class=" traslado ico-menu" >
                    <a class="nav-link d-flex align-items-center" href="{{ path('app_empresa_horario_mostrar') }}"style="width: 100px; height: 20px;">
                        <i > <img src="{{ asset('ico/empresa/Menu/horario.png') }}" alt="" class="icon"></i>
                        <span class="ms-3">Horario</span>
                    </a>
                </li>
                  <li class=" traslado ico-menu" >
                    <a class="nav-link d-flex align-items-center" href="" style="width: 100px; height: 20px;">
                        <i > <img src="{{ asset('ico/empresa/Menu/reporte.png') }}" alt="" class="icon"></i>
                        <span class="ms-3">Reportes</span>
                    </a>
                </li>
                </div>
        
                <!-- Opciones y Salir -->
            <div class="bottom-menu">
                 <li class=" traslado ico-menu" >
                    <a class="nav-link d-flex align-items-center" href="{{ path('app_empresa_opciones_mostrar') }}"style="width: 100px; height: 20px;">
                        <i > <img src="{{ asset('icono_menu.png') }}" alt="" class="icon"></i>
                        <span class="ms-3">Opciones</span>
                    </a>
                </li>
                <li class=" traslado ico-menu" >
                    <a class="nav-link d-flex align-items-center" href="{{ path('app_empresa_seguridad_desconectarse') }}" style="width: 100px; height: 20px;">
                        <i > <img src="{{asset('ico/empresa/Menu/salida.png') }}" alt="" class="icon"></i>
                        <span class="ms-3">Salir</span>
                    </a>
                </li>
            </div>
        </ul>
    </nav>
        {% endif %}        
            {% if app.user %}
                <!-- Contenido principal -->
                    {% block body_sidebar %}{% endblock %}
            {% else  %}
                <!-- Contenido principal sin barra lateral -->
                <div class="col-md-12">
                    {% block body_full %}{% endblock %}
                </div>
            {% endif %}
        </div>
	{% block js %}{% endblock %}
    </body>
</html>
