<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %} - EasilyControl!</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {# <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKG625KcwDUXUIvO0x22JMGYMV7DMqd7Q"></script> #}
        {# <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKG625KcwDUXUIvO0x22JMGYMV7DMqd7Q&libraries=geometry&callback=initMap"></script> #}
        
        {% endblock %}
    </head>
    <body>
		<div class="container-fluid">
			<div class="row">
				{% if app.user %}
					<!-- Barra lateral -->
					<div class="col-md-2 bg-light text-dark p-4" style="font-family: 'Courier New', Courier, monospace; height: 100vh;">
						<h5 class="mb-3"><strong>Menú</strong></h5>
						<ul class="list-unstyled">
							<li><a href="{{ path('app_empresa_mostrar') }}" class="text-decoration-none text-dark">Inicio</a></li>
							<li><a href="{{ path('app_empresa_empleados_mostrar') }}" class="text-decoration-none text-dark">Empleados</a></li>
							<li><a href="{{ path('app_empresa_opciones_mostrar') }}" class="text-decoration-none text-dark">Opciones</a></li>
							<li><a href="{{ path('app_empresa_seguridad_desconectarse') }}" class="text-decoration-none text-dark">Salir</a></li>
						</ul>
					</div>
					<!-- Contenido principal -->
					<div class="col-md-10">
						{% block body_sidebar %}{% endblock %}
					</div>
				{% else %}
					<!-- Contenido principal sin barra lateral -->
					<div class="col-md-12">
						{% block body_full %}{% endblock %}
					</div>
				{% endif %}
			</div>
		</div>
		{% block js %}{% endblock %}
    </body>
</html>
