{% extends 'easy_control/general/base.html.twig' %}

{% block title %}Iniciar sesión - EasyControl!{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/easy_control/colaborador/seguridad/acceder.css') }}">
{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username">Col_nombreusuario</label>
        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
        <label for="password">Password</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>

    <div class="login-container">
        <div class="col-md-12 logo"> 
            <img class="img-fluid"   src="{{ asset('img/easy_control/general/ec_logo_del_software.png') }}" > 
        </div>
        <div class="col-md-12 center-text">
            <h1 class="text-login">¡Bienvenidos. Puntualidad hoy, logros mañana!</h1>
        </div> 
        <form class="col-md-12 text-center">
            <div class="form-group"  >
                <span class="custom-ico input-group-prepend ">
                    <img src="{{ asset('ico/easy_control/colaborador/seguridad/ico_empresa.png') }}"  width="20" height="20">
                    <input type="text" class="custom-input" id="ID" placeholder="ID de empresa">
                </span>
            </div>
            <div class="form-group">
                <span class="custom-ico input-group-prepend ">
                    <img src="{{ asset('ico/easy_control/colaborador/seguridad/ico_usuario.png') }}"  width="20" height="20">
                    <input type="text" class="custom-input" id="usuario" placeholder="Usuario">
                </span>
            </div>
            <div class="form-group">
                <span class="custom-ico input-group-prepend ">
                    <img src="{{ asset('ico/easy_control/colaborador/seguridad/ico_contraseña.png') }}"  width="20" height="20">
                    <input type="text" class="custom-input" id="Contraseña" placeholder="Contraseña">
                </span>
            </div>
            <button type="submit" class="boton">INGRESAR</button>
        </form>
        <footer>
            <p>V. 1.2 - Creación de EASY CONTROL</p>
            <p><a href="#">Terms of Service</a></p>
        </footer>
    </div>
{% endblock %}
